@import '../../../styles/utils/var.scss';


body[data-theme='dark'] {
    .header {
        box-shadow: 0 3px 10px rgba(230, 153, 39, 0.2);
    }
}

.header {
    position: relative;
    width: 100%;
    padding: 15px 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header__container {
    display: flex;
    align-items: center;
}


.header__logo-wrap {
    margin-right: 75px;
}

.header__logo {

    & > img {

    }
}

.header__actions {
    margin-left: auto;
}